# Secrets & Env
.env
.env.*
*.pem
credentials.json
token.json

# Python Virtual Environments
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class

# Streamlit
.streamlit/secrets.toml

# Temporary / Media Processing
downloads/
temp/
*.mp4
*.mov
*.jpg
*.png
*.xlsx
